<!DOCTYPE html>
<html>
<head>
<title>jQuery Easy UI</title>
<meta charset="UTF-8" />
<script type="text/javascript" src="static/easyui/jquery.min.js"></script>
<script type="text/javascript" src="static/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="static/easyui/locale/easyui-lang-zh_CN.js" ></script>
<script type="text/javascript" src="static/js/login.js"></script>
<link rel="stylesheet" type="text/css" href="static/easyui/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="static/easyui/themes/icon.css" />
<link rel="stylesheet" type="text/css" href="static/css/login.css" />
</head>
<body>
<div id="login">
    <p>账号：<input type="text" id="user" class="textbox"></p>
    <p>密码：<input type="password" id="password" class="textbox"></p>
</div>
<div id="btn">
    <a href="#" class="easyui-linkbutton">登陆</a>
</div>
</body>
</html>