
<table id="turnover{{id}}"></table>
<div id="tb{{id}}" style="padding:5px;">
    <div style="margin-bottom: 5px">
        <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="obj1.add_patient_detail();">添加</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="obj.edit();">修改</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-remove"plain="true" onclick="obj.remove();">删除</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-save"plain="true" style="display: none" id="save{{id}}" onclick="obj.save();">保存</a>
        <a href="#" class="easyui-linkbutton" iconCls="icon-redo"plain="true" style="display: none" id="redo{{id}}" onclick="obj.redo();">取消编辑</a>
    </div>
    <div>
        <table>
            <tr>
                <td style="width: 200px">床号：<input class="easyui-textbox" id="bed_no{{id}}" data-options="disabled:true,buttonText:'查找',buttonAlign:'right'" style="width: 150px"></td>
                <td style="width: 120px">住院号：<input class="easyui-textbox" id="inpatient_no{{id}}" data-options="disabled:true" style="width: 50px"></td>
                <td style="width: 120px">病人状况：<input class="easyui-textbox" data-options="disabled:true" style="width: 50px"></td>
                <td style="width: 120px">姓名：<label id="name{{id}}">{{emp_sn}}</label></td>
                <td style="width: 120px">性别：<input class="easyui-textbox" id="sex{{id}}" data-options="disabled:true" style="width: 50px"></td>
                <td style="width: 120px">年龄：<input class="easyui-textbox" id="age{{id}}" data-options="disabled:true" style="width: 50px"></td>
                <td style="width: 300px">主要诊断：<input class="easyui-textbox" id="admiss_diag_str{{id}}" data-options="disabled:true" style="width: 150px"></td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td style="width: 400px">交班内容：<input class="easyui-textbox" id="shift_content{{id}}" data-options="multiline:true" value="This TextBox will allow the user to enter multiple lines of text.{{id}}" style="width:300px;height:100px"></td>
                <td style="width: 400px">重点关注内容：<input class="easyui-textbox" id="focus{{id}}" data-options="multiline:true" value="This TextBox will allow the user to enter multiple lines of text.{{id}}" style="width:300px;height:100px"></td>
            </tr>
        </table>
        
    </div>
</div>

<script>

$(function(){
    
    obj1={
        add_patient_flag:undefined,
        add_patient_detail:function(){
            if(this.add_patient_flag==undefined){
                $('#save{{id}},#redo{{id}}').show();
                $('#bed_no{{id}}').textbox('enable');
                this.add_patient_flag=1;
            }
            else{
                alert('正在添加患者信息。');
            }
        },      
    };
    
    $('#bed_no{{id}}').textbox({
        onClickButton(){
                    get_patient($('#bed_no{{id}}').textbox('getText'));
                    //alert($('#bed_no{{id}}').textbox('getText'));
        },
    });
    
    function get_patient(bedno){
        $.ajax({
            url:'/get_patient',
            type:'post',
            data:{
                bedno:$('#bed_no{{id}}').textbox('getText'),
            },   
        })
    };
    
    $('#turnover{{id}}').datagrid({
        url:'/get_patient_list',
        fit : true,
        fitColumns : true,
        striped : true,
        rownumbers : true,
        border : false,
        pagination : true,
        pageSize : 20,
        pageList : [10, 20, 30, 40, 50],
        pageNumber : 1,
        toolbar:'#tb{{id}}',
        columns:[[
            {
                field:'bed_no',
                title:'床号',
                width:20,
            },
            {
                field:'name',
                title:'姓名',
                width:30,
            },
            {
                field:'sex',
                title:'性别',
                width:20,
            },
            {
                field:'age',
                title:'年龄',
                width:20,
            },
            {
                field:'inpatient_no',
                title:'住院号',
                width:20,
            },
            {
                field:'admiss_diag_str',
                title:'主要诊断',
                width:100,
            },
            {
                field:'shift_content',
                title:'交班内容',
                width:100,
            },
            {
                field:'focus',
                title:'重点关注内容',
                width:100,
            },  
        ]],
        onDblClickRow:function(index,row){
            $('#bed_no{{id}}').textbox('setText',row.bed_no);
            $('#inpatient_no{{id}}').textbox('setText',row.inpatient_no);
            $('#name{{id}}').text(row.name);
            $('#sex{{id}}').textbox('setText',row.sex);
            $('#age{{id}}').textbox('setText',row.age);
            $('#admiss_diag_str{{id}}').textbox('setText',row.admiss_diag_str);
            $('#shift_content{{id}}').textbox('setText',row.shift_content);
            $('#focus{{id}}').textbox('setText',row.focus);
            alert(row.shift_content);
        },
    });
});

</script>